<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Diabetes Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Diabetes</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="number" name="pregnancies" placeholder="Pregnancies" required="required" min="0" max="13"/>
        <input type="number" name="glucose" placeholder="Glucose" required="required" min="44", max="196"/>
		<input type="number" name="blood_pressure" placeholder="Blood Pressure" required="required" min="44" max="104"/>
		<input type="number" name="skin_thickness" placeholder="Skin Thickness" required="required" min="8" max="50"/>
        <input type="number" name="insulin" placeholder="Insulin" required="required" min="15" max="188"/>
		<input type="number" name="bmi" placeholder="Body Mass Index" required="required" min="18" max="48"/>
		<input type="number" name="age" placeholder="Age" required="required" min="1" max="51"/>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
 </div>


</body>
</html>
